@desktops: ~"only screen and (min-width: 480px)";
@mobiles: ~"only screen and (max-width: 480px)";

@primaryColor: #546386;
@alternateAccent: #b37d48; // #b5875a;
@ctaColor: #04b7a4; // #4999ce;
@ctaSecondary: #1a8fda;

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,700|Give+You+Glory|Pacifico');

body {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

@media @mobiles {
    p {
        font-size: 20px;
        font-weight: 300;
    }
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    padding: 0.5em 2em;
    font-size: 1.15em;
    font-weight: 700;
    background-image: none;
    background-color: @ctaColor;
    background-image: -webkit-linear-gradient(top left, @ctaColor 0%, @ctaSecondary 100%);
    background-image: -moz-linear-gradient(top left, @ctaColor 0%, @ctaSecondary 100%);
    background-image: -ms-linear-gradient(top left, @ctaColor 0%, @ctaSecondary 100%);
    background-image: -o-linear-gradient(top left, @ctaColor 0%, @ctaSecondary 100%);
    background-image: linear-gradient(top left, @ctaColor 0%, @ctaSecondary 100%);
    background-position: 0;
    border: none;
    outline: none;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: none;
    transition: all 0.25s ease-in-out;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover,
.btn-primary:focus {
    box-shadow: 1px 6px 24px rgba(0, 0, 0, 0.35);
}

.container-fluid,
.container {
    padding: 0;
}

.font1 {
    font-family: 'Give You Glory', cursive;
}

.font2 {
    font-family: 'Pacifico', cursive;
}

.h2 {
    margin: 0 0 1em 0;
    font-size: 2em;
    line-height: 1.25em;
    color: @primaryColor;

    @media @desktops {
        font-size: 2em;
    }
}

.text {
    p {
        & + p {
            margin-top: 1em;
        }
    }
}

.section {
    margin: 0 1em;
    padding-top: 3em;
    position: relative;

    @media @desktops {
        .text {
            max-width: 768px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.section_1 {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding-top: 0;
    background-image: url('../images/1.jpg');
    background-size: cover;

    @media @desktops {
        background-image: url('../images/8a.jpg');
        background-position: center;
    }

    .over {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 2em;
    }

    h1 {
        margin: 0;
        font-size: 3.25em;
        color: @alternateAccent;

        @media @desktops {
            color: #5F5F5F;
        }
    }

    .h2 {
        display: table;
        margin: 0.75em auto;
        padding: 0.25em 0;
        font-size: 1.25em;
        font-weight: 700;
        border-radius: 0.3em;
        color: @primaryColor;

        @media @desktops {
            color: #d78303;
            font-size: 1.75em;
        }

        .heart {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding: 0 0.5em 0 0.75em;
        }

        .lines {
            display: table-cell;
            padding: 0 0.75em 0 0;
        }

        .line_2 {
            font-size: 14px;
            margin-top: 0;
            font-weight: 400;
            line-height: 1em;
        }
    }

    .scroll_indicator {
        position: absolute;
        bottom: 1em;
        width: 100%;

        .circle {
            display: inline-block;
            height: 2em;
            width: 2em;
            padding: 7px;
            border-radius: 50%;
            background: #FFF;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
        }
    }
}

.section_separator {
    padding-top: 2em;

    .heart {
        text-align: center;
        font-size: 1.75em;
        color: @primaryColor;
    }
}

.album {
    display: table;
    margin: 2em -15px;

    @media @desktops {
        margin: 2em -20%;
    }

    img {
        display: block;
    }

    .left {
        display: table-cell;
        vertical-align: middle;
        width: 28%;
        padding: 0 8px;
    }

    .center {
        display: table-cell;
        vertical-align: middle;
        width: 35%;
        padding: 30px 0;
    }

    .right {
        display: table-cell;
        vertical-align: middle;
        width: 28%;
        padding: 0 8px;
    }
}

.betweens {
    margin: 2em auto;
    max-width: 70%;
}

.landscapes {
    margin: 2em 1em;
}

.section_5 {
    .h2 {
        font-size: 2.5em;
    }

    .subheading {
        font-weight: 700;
        font-size: 1.25em;
        line-height: 1em;
        color: #666;
    }

    .hotel {
        font-size: 1.75em;
        font-weight: 100;
        line-height: 1em;
        margin: 1em;
    }

    .text {
        padding: 1em 2em;
    }

    .directions {
        margin-top: 1em;
    }

    @media @desktops {
        padding-bottom: 2em;

        .hotel {
            font-weight: 300;
        }

        .text {
            margin-bottom: 2em;

            p {
                margin-bottom: 0;

                + p {
                    margin-top: 0;
                }
            }
        }
    }
}

.section_6 {
    width: 100%;
    height: 100vh;
    margin: 3em 0 0;
    background-image: url('../images/16.jpg');
    background-size: cover;

    @media @desktops {
        background-image: url('../images/9.jpg');
        background-position: center;
    }

    .over {
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 3em;

        .text {
            font-size: 2.5em;
            padding: 0 2rem;
            color: #FFF;

            @media @desktops {
                font-size: 2.25em;
                margin-top: 1em;
                padding: 0 2em;
                color: #2a427b;
                background-color: rgba(255, 255, 255, 0.85);
                display: inline-block;
                padding: .5em 1em;
                border-radius: 1rem;
                box-shadow: 1px 4px 24px rgba(0, 0, 0, 0.5);
            }
        }
    }
}
